@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;900&display=swap');
html{
    margin: 0;
    padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../images/bg1.jpg');
  background-size: contain;
  background-blend-mode: overlay;
}
h1{
    color: white;
    font-size: 100px;
    font-weight: 900;
}
h2{
    color: rgb(155, 155, 155);
    font-weight: 400;
    font-size: 32px;
}
h3{
    color: rgb(190, 190, 190);
    font-weight: 400;
    font-size: 26px

}
h4{
    color: rgb(141, 141, 141);
    font-weight: 200;
    font-size: 16px;
}
p{
    color: rgb(224, 224, 224);
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: left;
}
#head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 20px;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  margin: 60px 15px;
}

.nav-list a {
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-size: 24px;
  padding: 10px;
  transition: 0.2s ease-in;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: white; /* Adjust the color of the hamburger bars */
  height: 3px;
  width: 25px;
  margin: 5px 0;
  transition: 0.4s;
}
#cont-v1{
  max-width: 45%;
  margin: 0 auto;
  padding: 10px 80px;
  border-left: 2px solid rgb(65, 65, 65);
}
#hero {
  height: 42vh;
  display: flex;
  justify-content: space-between;

}

#hero-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.column {
  width: 419px;
}

@media only screen and (max-width: 1300px) {
  #hero {
    width: 62vw;
    display: block;
    justify-content: none;
  
  }
  #cont-v1{
    padding: 0 30px;
}
  h1{
    font-size: 80px;
  }
}
@media only screen and (max-width: 1100px) {
  #head{
    display: none;
  }
  #cont-v1{
    width: 100vw;
    padding: 0 30px;
    float: left;
    border-left: none;
}
.project-card {
  width: 87vw;/* Set the width to 100% for each card within the column */
  height: fit-content;
}
#stack{
  width: 87vw;
}

#hero h2{
font-size: 27px;
}
#about{
  width: 87vw;
}
#hero {
  height: 42vh;
  width: 88vw;
  display: block;
  justify-content: none;

}

#hero-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

#img-content{
  float: right;
  margin-top: -10px; /* Add margin for spacing between text and image */

}
p{
  text-align: justify;
}
}
@media only screen and (max-width: 380px) {
  #hero-content {
    padding-bottom: 80px;
  }
  #about{
    padding-top:50px;
  }
  #img-content{
    margin-top: -10px; /* Add margin for spacing between text and image */
    margin-bottom: 60px;
  }
  #img-content #profile-photo{
    padding: 40px 10px;
    width: 220px;
    height: 241px;
  }
}
@media only screen and (max-width: 600px) {
  #head{
    display: none;
  }
  #cont-v1{
    width: 100vw;
    padding: 0 20px;
    float: left;
    border-left: none;
}
.project-card {
  width: 87vw;/* Set the width to 100% for each card within the column */
  height: fit-content;
}
#stack{
  width: 90vw;
}
h1{
  font-size: 54px;
  margin-top: -10px;
}
h2{
  margin-top:10px;
  padding-top: 20px;
}
#hero h2{
font-size: 27px;

}
#about{
  width: 87vw;
}
#hero {
  height: 42vh;
  width: 90vw;
  display: grid;
  justify-content: none;

}
#hero-content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  padding-bottom: 40px;
}
#about1{
  margin: 75px 0;
  width: 87vw;
  padding: 0;
}
p{
  font-size: 16px;

}
#resume{
  width: 87vw;
}
#stack{
  padding: 0;
  margin: 0;
}
#stack img{
  width: 38px;
  height: 38px;
}
#stack .label{
  font-weight: 300;
  font-size: 14px;
}
#about{
  margin-top: -20px 0;
  padding: 0;
}
#img-content{
  margin-top: -10px; /* Add margin for spacing between text and image */
  margin-bottom: 30px;
}
#img-content #profile-photo{
  padding: 40px 30px;
  width: 240px;
  height: 261px;
}
#img-content ul{
  display: grid;
  margin-top: -20px;
}
#img-content ul li{
  padding: 0;
  margin-top: 10px;
}
p{
  text-align: justify;
}
}

#text-content {
    text-align: left;
    margin-top: -130px;
}
#text-content h2{
  margin-top:-50px;
}
#text-content h1{
  margin-top:-10px;
}
h2 {
    font-size: 37px;
    font-weight: 400;
    color: rgb(170, 170, 170);
}

#img-content {
    margin-left: 0px;
    margin-top: -10px; /* Add margin for spacing between text and image */
    align-items: center;
}
#img-content li{
  margin: 10px 10px 20px 10px;
  padding-top: 20px;
  display: inline-block;
}
p{
   font-weight: 200; 
}
#about{
    display: flex;
}
#col2{
    width: 100%;
    display: block;
    text-align: justify;
}
#col3 {
  width: 100%;
  display: block;
  text-align: justify;
  position: relative; /* Add position relative for absolute positioning */
}
#col3::before {
  content: '_______';
  position: absolute;
  top: 50px; /* Adjust the distance down */
  left: -100px; /* Adjust the distance to the left */
  height: fit-content;
  border-top: 2px solid rgb(94, 94, 94);
}
#stack, #projects, #resume{
  position: relative;
}
#stack::before {
  content: '_______';
  position: absolute;
  top: 20px; /* Adjust the distance down */
  left: -100px; /* Adjust the distance to the left */
  height: fit-content;
  border-top: 2px solid rgb(94, 94, 94);
}
#projects::before {
  content: '_______';
  position: absolute;
  top: 20px; /* Adjust the distance down */
  left: -100px; /* Adjust the distance to the left */
  height: fit-content;
  border-top: 2px solid rgb(94, 94, 94);
}
#resume::before {
  content: '_______';
  position: absolute;
  top: 20px; /* Adjust the distance down */
  left: -100px; /* Adjust the distance to the left */
  height: fit-content;
  border-top: 2px solid rgb(94, 94, 94);
}
#col2 h3{
    padding-bottom: 10px;
}
#profile-photo{
    float: right;
    border-radius: 35%;
}
table {
    width: 100%;
    border-collapse: collapse;
  }


  th, td {
    padding: 25px 0px;
    text-align: center;
  }

  .stack-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .stack-wrapper img {
    margin: 30px 0;
  }

  .label {
    font-weight: bold;
    font-size: 20px;
    color: rgb(224, 224, 224);
  }
  #project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project-card {
    border: 0.4px solid #424242;
    border-radius: 8px;
    padding: 10px 22px 23px 22px;
    margin: 20px 20px 20px 0; /* Set the width to 100% for each card within the column */
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .project-card:hover {
    transform: scale(1.05);
    border: 0.4px solid #9c9c9c;
  }
  
  .project-card h3 {
    margin-bottom: 10px;
    color: #d1d1d1;
  }
  
  .project-card p {
    margin-bottom: 15px;
    color:rgb(182, 182, 182);
    line-height: 22px;
  }
  
  .project-card a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #949494;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5px;
  }
  #resume a{
    display: inline-block;
    padding: 12px 20px;
    background-color: #b1840a;
    color: black;
    margin: auto;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.1px ease-out;
    
  }
  #resume a:hover{
    transform: scale(1.05);
  }
  .project-card a:hover {
    background-color: #b1840a;
  }
  #guide-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .guide {
    width: 100%; /* Adjust the width as needed */
    margin-bottom: 20px;
    border: 0.4px solid #5c5c5c;
    border-radius: 5px;
    padding: 0 30px 10px 30px;
    display: flex;
  }
  .guide p{
    font-size: 15;
    line-height: 30px;
    text-align: justify;
  }

  .info-section {
    width: 69%;
    padding: 0 30px 0 0;
    margin-bottom: 10px;
  }


  .image-section img {
    width: 200px;
    height: 300px; /* Adjust the max-height as needed */
  }